.footer{
  margin: 0;
  height: 10vh;
  background-color: #252525;
}

.links{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.links a{
  margin: 0 20px
}

.footer p{
  color: black;
  padding-right: 20px;
}
