.box{
  width: 1.5vw;
  height: 1.5vw;
  background-color: #c6c6c6;
  border: 1px solid hsl(0, 0%, 50%);
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.clean{
}

.not-touched{
  background-color: #c6c6c6;
  border: 0.2vw solid #808080;
  border-top: 0.2vw solid white;
  border-left: 0.2vw solid white;
}

.number{
  font-family: 'VT323', 'Roboto', sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  padding-top: 0.2vw;
}

.number-1{ color: #0000ff }
.number-2{ color: #008000 }
.number-3{ color: #ff0000 }
.number-4{ color: #000080 }
.number-5{ color: #800000 }
.number-6{ color: #008080 }
.number-7{ color: #000000 }
.number-8{ color: #808080 }

.game{
  display: flex;
  flex-direction: column;
}

.row-game{
  margin: 0 auto;
  display: flex;
}

.frame{
  width: 1.5vw;
  height: 1.5vw;
  background-color: #c6c6c6;
}
.frame-left{
  border-right: 0.4vw solid #808080;
}
.frame-right{
  border-left: 0.4vw solid #808080;
}
.frame-top{
  border-bottom: 0.4vw solid #808080;
}
.frame-bottom{
  border-top: 0.4vw solid #808080;
}
.frame-upper-left-corner{
  align-items: end;
  justify-content: end;
  display: flex;
}
.border-frame{
  width: calc(0.4vw - 0.5px);
  height: calc(0.4vw - 0.5px);
  background-color: #808080;
}
.frame-upper-right-corner{
  align-items: flex-end;
  justify-content: flex-start;
  display: flex;
}
.frame-lower-left-corner{
  align-items: flex-start;
  justify-content: end;
  display: flex;
}
.frame-lower-right-corner{
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.top, .bottom{
  display: flex;
  justify-content: center;
}
